body {
  background-color: #242038;
  color: #242038;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

/* Header styles */
.header h1 {
  color: #e1e5f2;
  text-align: center;
  margin: 2% auto;
  font-size: 3.5rem;
}
/* #56E39F */

/* Question and options styles */
.question-box {
  position: relative;
  background-color: #fc6471;
  width: 50%;
  height: 10%;
  margin: 5% auto 0;
  padding: 1% 4% 3%;
  border-radius: 40px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Icon styling */
.icons-container {
  position: absolute;
  bottom: 2%;
  right: 3%;
}

/* Submit Button Styling */
.button-container {
  position: absolute;
  bottom: 5%;
  right: 20%;
}
